body { 
    font-family: Calibri, sans-serif;
    background-color: #f4f4f4;
    margin: 40px; 
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; 
    margin-top: 20px;
}

h1 {
    color: #333; 
}

p {
    line-height: 1.6;
}

/* Estilos de la Navbar */
.navbar {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}